<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>

    {{> navbar}}
    <div class="row">
        <div class="col-8">
                <h1> Hola perra </h1>
    
            <div class="col-4">
                <img src="assets/img/monalisa.jpeg" class="img-thumbnail">
            </div>

        </div>
    </div>


    {{> footer}}

</body>

</html>